:root {
  --bg-main: #fafafa;
  --bg-muted: #f4f6f8;
  --card-bg: #fff;
  --border-card: #e3e6ea;
  --nav-bg-active: #e3f1ff; /*açık mavi arkaplan */
  --nav-bg-hover: #e8f3fd; /*biraz daha koyu hover için */
  --nav-icon: #3396fe; /*icon accent */

  /*text */
  --text-main: #23272f;
  --text-muted: #8e98a6;
  --text-label: #181c23;

  /*inputform ve nav */
  --input-bg: #f7f8fa;
  --input-border: #e2e4ea;
  --nav-bg: #f6f7fa;

  /*accent ve highlight */
  --accent-color: #3396fe;
  --accent-hover: #0d6efd;
  --accent-muted: #e8f1ff;

  /*gölge */
  --shadow-card: 0 2px 24px 0 #b1bfd622;
  --shadow-strong: 0 4px 16px #2468ab22;
}

body[data-theme="dark"] {
  --bg-main: #15181c;
  --bg-muted: #23272f;
  --card-bg: #1c1f23;
  --border-card: #23272f;

  --text-main: #ecf1fa;
  --text-muted: #7d8ea4;
  --text-label: #eaf1fa;

  --input-bg: #23272f;
  --input-border: #242834;
  --nav-bg: #171b22;

  --accent-color: #4da5ff;
  --accent-hover: #298ce6;
  --accent-muted: #152d44;

  --shadow-card: 0 2px 24px 0 #12141c33;
  --shadow-strong: 0 4px 16px #10284c40;
  --nav-bg-active: #203453;
  --nav-bg-hover: #1d2844;
  --nav-icon: #4da5ff;
}

/*global */
body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: "Segoe UI", Arial, sans-serif;
  transition: background 0.2s, color 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
